.monks-active-tiles.sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
    margin-bottom: 10px;
}

.monks-active-tiles.sheet .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.monks-active-tiles.sheet .items-list .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.monks-active-tiles.sheet .items-list .item-name h3,
.monks-active-tiles.sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.monks-active-tiles.sheet .items-list .item-controls {
    flex: 0 0 50px;
    justify-content: space-between;
}

.monks-active-tiles.sheet .items-list .items-header .item-controls {
    flex: 0 0 80px;
}

.monks-active-tiles.sheet .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
}

.monks-active-tiles.sheet .items-list .item {
    align-items: center;
    padding: 4px 2px;
    border-bottom: 1px solid #c9c7b8;
}

.monks-active-tiles.sheet .items-list .item:last-child {
    border-bottom: none;
}

.monks-active-tiles.sheet .items-list .item .item-name {
    color: #191813;
}

.monks-active-tiles.sheet .items-list .item .item-name .item-image {
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
}

.monks-active-tiles.sheet .items-list .item.received .item-name .item-image {
    filter: grayscale(100%);
    opacity: 0.7;
}

.monks-active-tiles.sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    color: #7a7971;
}

.monks-active-tiles.sheet .items-list .items-header > * {
    font-size: 12px;
    text-align: center;
}

.monks-active-tiles.sheet .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
}

.action-sheet form .form-group label {
    flex: 1;
    align-self: flex-start;
}

.action-sheet .display-value {
    display: block;
    height: 28px;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: 24px;
    border: 1px solid #7a7971;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action-sheet .placeholder-style {
    color: #808080;
}

.action-sheet .form-group .form-fields button {
    flex: 0 0 28px;
    height: 28px;
    width: 28px;
}

.action-sheet button[data-target="data.entity"] i,
.action-sheet button[data-target="data.location"] i,
.action-sheet button[data-target="data.either"] i,
.action-sheet button[data-target="data.position"] i {
    margin-right: 0px;
}

.pertoken{
    display:inline-block;
    font-size:10px;
}

.pertoken:not(:last-child):after {
    content: ',';
    padding-right: 4px;
}

.active-tile-backdrop{
    opacity:0;
    background: #C0C0C0;
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: 1;
}

#trigger-action .variant {
    flex: 0 0 75px;
    margin-left: 10px;
}

#trigger-action .tt-hint {
    color: #999;
    width: 100%;
}

#trigger-action .tt-hint input{
    background: rgba(0, 0, 0, 0);
}

#trigger-action .tt-menu {
    width: 100%;
    margin: 4px 0;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: hidden;
}

#trigger-action .tt-suggestion {
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#trigger-action .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

#trigger-action .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

#trigger-action .tt-suggestion p {
    margin: 0;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .action-style {
    font-weight: bold;
    color: #000000;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .filter-style {
    font-weight: bold;
    color: #220208;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .logic-style {
    font-weight: bold;
    color: #020522
}

.monks-active-tiles div[data-tab="triggers"] .action-items .entity-style {
    font-style: italic;
    color: #242424;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .details-style {
    color: #1b012d;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .value-style {
    color: #515151;
}

.monks-active-tiles div[data-tab="triggers"] .action-items .tag-style {
    color: #063d68;
    font-style: italic;
}

#trigger-action .files-list {
    padding-left: 0px;
    margin: 0px;
}

#trigger-action .files-list .items-header .item-controls {
    justify-content: flex-end;
    color: #7a7971;
    font-size: 12px;
}

#trigger-action .file-list {
    padding-left: 0px;
    margin-top: 0px;
    color: #191813;
    max-height:100px;
    overflow-y:auto;
    max-width:400px;
}

#trigger-action .file-list li {
    border-bottom: 1px solid #c9c7b8;
    line-height: 25px;
    padding-left: 4px;
}

#trigger-action .file-list li a {
    color: #7a7971;
    flex: 0 0 28px;
    height: 28px;
    width: 28px;
}

#trigger-action .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

#trigger-action .items-list .items-header > * {
    font-size: 12px;
    text-align: center;
}

#trigger-action .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
}

#trigger-action .file-list .image-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

#trigger-action .select-field-group {
    max-width: 400px;
}

#board.cooldown {
    cursor: wait !important;
}

.system-wfrp4e .monks-active-tiles.sheet .items-list .item-list {
    background: url(../../../systems/wfrp4e/ui/frames/parchment-texture.webp);
}

.system-wfrp4e .monks-active-tiles.sheet .items-header {
    color: #d6d6d6;
    box-shadow: 0px 0px 10px inset black;
    background: #352516;
}