<form class="trigger-action" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="action">Action</label>
        <div class="form-fields">
            <select name="action" data-dtype="String">
                {{ selectOptions availableActions selected=object.action }}
            </select>
        </div>
    </div>
    <div class="form-group" data-type="delay">
        <label for="action">After</label>
        <div class="form-fields">
            <input type="number" name="delay" placeholder="delay" value="{{object.delay}}" style="flex:0 0 75px;">
            <label class="grid-label">seconds</label>
        </div>
    </div>
    <div class="action-controls">
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update</button>
</form>