<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
    <div class="col left">
        <div class="control-icon {{ overheadClass }}" data-action="overhead">
            <i class="fas fa-home" title="{{localize "HUD.TileOverhead"}}"></i>
        </div>
        <div class="control-icon" data-action="sort-up">
            <img src="{{icons.up}}" width="36" height="36" title="{{localize "HUD.ToFront"}}" />
        </div>
        <div class="control-icon" data-action="sort-down">
            <img src="{{icons.down}}" width="36" height="36" title="{{localize "HUD.ToBack"}}" />
        </div>
        <div class="control-icon {{ underfootClass }}" data-action="underfoot">
            <i class="fas fa-road" title="{{localize "HUD.TileUnderfoot"}}"></i>
        </div>
    </div>

    <div class="col middle">
    </div>

    <div class="col right">
        <div class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" title="{{localize "HUD.ToggleVis"}}" />
        </div>
        <div class="control-icon {{lockedClass}}" data-action="locked">
            <img src="{{icons.lock}}" width="36" height="36" title="{{localize "HUD.ToggleLock"}}" />
        </div>
        <div class="control-icon {{activeClass}}" data-action="active">
            <img src="{{icons.effects}}" width="36" height="36" title="Toggle Active State" />
        </div>
        {{#if isVideo }}
        <div class="control-icon" data-action="video">
            <i class="{{videoIcon}}" title="{{ videoTitle }}"></i>
        </div>
        {{/if}}
    </div>
</form>