<form onsubmit="event.preventDefault();">
    <div class="items-list">
        <div class="item-header flexrow" style="position: relative;">
            <h3 class="item-name noborder flexrow">
                ID
            </h3>
            <div class="item-controls flexrow">
                <a class="item-control item-add"><i class="fas fa-plus"></i> Add</a>
            </div>
        </div>
        <ol class="item-list">
            {{#each entities}}
            <li class="item flexrow" draggable="false" style="position:relative;">
                <div class="item-name flexrow">
                    <input type="text" name="id" value="{{this.id}}" />
                </div>

                <div class="item-controls flexrow" buttons="1">
                    <a class="item-control item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> Save Changes
        </button>
        <button type="button" name="close">
            <i class="fas fa-undo"></i> Cancel
        </button>
    </footer>
</form>