<form>
    <div class="form-group">
        <label for="location-id">Tile ID</label>
        <div class="form-fields">
            <input type="text" name="location.id" value="{{data.id}}">
        </div>
    </div>
    <p class="notes" style="text-align: center;">- or -</p>
    <div class="form-group">
        <label for="location-x">X</label>
        <div class="form-fields">
            <input type="text" name="location.x" value="{{data.x}}">
        </div>
    </div>
    <div class="form-group">
        <label for="location-y">Y</label>
        <div class="form-fields">
            <input type="text" name="location.y" value="{{data.y}}">
        </div>
    </div>
    {{#if (eq action "pancanvas")}}
    <div class="form-group">
        <label for="location-scale">Scale</label>
        <div class="form-fields">
            <input type="number" name="location.scale" value="{{data.scale}}">
        </div>
    </div>
    {{/if}}
    {{#if (eq action "teleport")}}
    <div class="form-group">
        <label for="location-scale">Scene</label>
        <div class="form-fields">
            <select name="location.sceneId">
                {{selectOptions sceneList selected=data.sceneId}}
            </select>
        </div>
    </div>
    {{/if}}
</form>