<form>
    <div class="action-container">
        <div class="form-group" data-type="delay">
            <label for="action">Name</label>
            <div class="form-fields">
                <input type="text" name="name" value="{{object.name}}">
            </div>
        </div>
        <footer class="dialog-buttons sheet-footer flexrow">
            <button type="submit" name="submit">
                <i class="far fa-save"></i> {{localize "MonksActiveTiles.Update"}}
            </button>
        </footer>
    </div>
</form>